# MySQL Database URL
DATABASE_URL=mysql://yosimuser:yosimpassword@localhost:3306/yosimdbs

# Celery Redis URL
CELERY_BROKER_URL=redis://localhost:6379

# Domain name, used by caddy
DOMAIN_NAME=yosim.com

# General settings
DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=oYt!o]tu#X+D(-Vs~q00q]Eo]6]D;~Fe!LD[jzQG~j0|Mw=.{E
DJANGO_ALLOWED_HOSTS=.yosim.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False
ACCOUNT_EMAIL_VERIFICATION=none
# Sentry
DJANGO_SENTRY_DSN=
