{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>{{ user.username }}</h1>
            <form class="form" method="post" action="{% url 'users:update' %}">
                {% csrf_token %} {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
